@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --black: #191609;
    --green: #4BB166;
    --background: #f2f2f2;
    --sidebar: rgb(244, 244, 244);
    --neutral100: 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400px;
}

/* typography*/

h1 {
    font-size: 3em;
    line-height: 1.2em;
    letter-spacing: 1%;
}

h2 {
    font-size: 2.498em;
    font-family:"Inter";
    font-weight: 300;
    line-height: 62px;
}

h3 {
    font-size: 2.0801em;
    line-height: 150%;
}

h4 {
    position: relative;
    font-size: 1.7321em;
    font-weight: 600;
}

h4 ::before {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 30px;
}

h5 {
    font-size: 1.4422em;
}

h6 {
    font-size: 1.2009em;
}


small { font-size: .8327em; }

html { font-size: clamp(1em, .4167vw + .8875em, 1.125em); }

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

p {
    font-size: 18px;
    line-height: 150%;
}

/* Main*/

.app {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: rgb(244, 244, 244);
    height: 100vh;

}

h4 a {
    color: black;
    display: flex;
    height: 50px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.sidebar h3 {
    color: var(--black);
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.sidebar .menu {
    margin: 0 -1rem;
    overflow: hidden;
}

.sidebar .menu .menu-item{
    display: block;
    padding: 1em;
    color: #191609;
    text-decoration: none;
    transition: 0.2s linear;
    font-size: 1rem;
    /* border-top: 1px solid var(--black); */
    overflow: hidden;
}

.btn {
    display: block;
    padding: .5rem 1.2rem;
    position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 1.5rem;
    bottom: -0.5rem;
    transform: rotate(45deg);
}

.menu-item__sub {
    background-color: var(--white);
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.menu-item__sub a {
    display: block;
    padding: 1.5rem 1.5rem;
    color: var(--black);
    font-size: 0.9rem;
    position: relative;
    text-decoration: none;
}

/* .menu-item__sub a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0.2rem;
    height: 100%;
    background: var(--black);
    transform: translatex(-0.4rem);
    transition: 0.3s;
    opacity: 0;
} */


.menu-item__sub a:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.menu-item:target .menu-item__sub {
    max-height: fit-content;
}



/* .menu-list {
    padding-left: 20px;
    list-style: none;
    font-size: .75rem;
} */

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color: #4BB166;
    border-right: 5px solid #4BB166;
    background-color: rgb(244, 244, 244);
    font-weight: 700;
}

.content {
    flex: 1 1 0;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.content h1 {
    color: #191609;
    font-size: 3em;
    margin-bottom: 1rem;
}

.content p {
    color: #191609;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #191609;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    color: #4BB166;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    color: #4BB166;
    transition-duration: .25s ;
}

.hamburger > span::before {
    content: '';
    top: -8px;
}
.hamburger > span::after {
    content: '';
    top: 8px;
}


.menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
    top:0;
    transform: rotate(90deg);
}

/* Large Screens */
@media (max-width: 1024px) {
    .sidebar {
        max-width: 200px;
    }
}

/* Medium Screens */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .content {
        padding-top: 8rem;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }
    .sidebar.is-active {
        left: 0;
    }
}


/*Homepage*/

.hook {
    /* background-color:white; */
    /* border: 1px solid black; */
    max-width: 960px;
    padding-top: 80px;
    margin: auto;
}

.more {
    border-bottom: 1px solid black;
    margin-top: 1rem;
    padding-bottom: 1rem;
} 

.row {
    /* float: left;
    width: 50%;
    padding: 20px 10px 20px 10px; */
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }
  /*styling the buttons*/
.accordion {
    cursor: pointer;
    padding: 10px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: white;
}

/* background color to the button when clicked */
.active, .accordion:hover {
    color: #191609
}

/*Style the accordion panel. Hidden by default */
.row {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2 ease-out;
}


.grid {
    /* max-width: 960px;
    margin-inline: auto; */
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 2rem;
    margin-bottom: 4rem;
}


.card {
    /* add shadow around card */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 4px;
    height: 300px;
    background-color: #f2f2f2;
    color: black;
    flex: 0 0 31%;
    padding: 1rem;
    border-radius: 5px;
}

.card:hover {
    /*on hover, deepen shadow*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


img {
    /*rounding top corners of card image*/
    border-radius: 4px 4px 0 0;
    display: block;
    max-width: 100%; /*This makes the image adapt to the screen size)*/
}

.subsection h3 {
    padding-top: 1rem;
    font-weight: 600;
}

.subsection {
    border-bottom: 1px solid #191609;;
}

